<!DOCTYPE html>
<html lang="en">
<head>
    <title>Подтвердите Ваш аккаунт</title>
</head>
<body>
    <h3>Подтвердите Ваш аккаунт</h3>
    <p>Привет<b>{{name}}</b>, спасибо за регистрацию новой учетной записи</p>
    <p>Теперь вы можете подтвердить вашу учетную запись по <b><a href="{{link}}">этой ссылке</a></b></p>
    <p>Ссылка будет действовать только 15 минут!</p>
</body>
</html>