<!DOCTYPE html>
<html lang="en">
<head>
    <title>Восстановление пароля</title>
</head>
<body>
    <h3>Запрос на восстановление парооля</h3>
    <p>Привет<b>{{name}}</b>, похоже, Вам надо поменять пароль от Вашего аккаунта</p>
    <p>Вы можете сбросить пароль вашей учетной записи по <b><a href="{{link}}">этой ссылке</a></b></p>
    <p>Если Вы не запрашивали сброс пароля - проигнорируйте этот запрос</p>
</body>
</html>