<!DOCTYPE html>
<html lang="en">
<head>
    <title>Пароль успешно сброшен</title>
</head>
<body>
    <h3>Пароль успешно сброшен</h3>
    <p>Привет <b>{{name}}</b>, Ваш пароль был изменен успешно</p>
</body>
</html>