<!DOCTYPE html>
<html lang="en">
<head>
    <title>Добро пожаловать</title>
</head>
<body>
    <h3>Учетная запись подтверждена</h3>
    <p>Привет<b>{{name}}</b>, спасибо за подтверждение аккаунта</p>
    <p>Теперь вы можете пройти по <b><a href="{{link}}">этой ссылке</a></b></p>
    <p>Надеемся, что наш сервис Вам поможет!</p>
</body>
</html>